<html>
<head>
    <title>Disrict page</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<style>
a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 50px;


}
h1{
    padding: 20px;
    color: aqua;

}
p.two {
  border-style: solid;
  border-color: green;
}

body{
    background: coral;
}

a:hover, a:active {
  background-color: red;
}


</style>
<body>
<div class="container">
    <center><h1 class="bnt btn-primary">District wise Information</h1></center>
    <div class="dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            EastGodavari
        </button>
        <div>
        <a href="/Kakinada/">Kakinada</a>
        <a href="/#/">Back to Home</a>
        </div>
        <div class="container col1">
            <div class="row r1">
                <div class="offset-md-8 col-md-4 col1">
                    <h1 class="btn btn-success">About EastGodavari District</h1>
                    <p class="two">
                        East Godavari district is a district in Coastal Andhra region of Andhra Pradesh, India.
                        Its district headquarters is at Kakinada. As of Census 2011,
                        it became the most populous district of the state with a population of 5,151,549. Wikipedia
                        Population: 51.5 lakhs (2011)

                        Headquarters: Kakinada

                        Points of interest: Coringa Wildlife Sanctuary, Godavari Bridge, MORE

                        Colleges and Universities: Adikavi Nannaya University, MORE

                    </p>
                </div>
            </div>
        </div>


    </div>
</div>
</body>
</html>