<html>
<head>
    <title>Home page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<style>
a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 50px;


}
p.two {
  border-style: solid;
  border-color: green;
}
h1{
    padding: 20px;
    color: aqua;


}
body{
    background: coral;
}

a:hover, a:active {
  background-color: red;
}


</style>
<body>
<div class="container">
    <center><h1 class="bnt btn-primary">State Information</h1></center>
    <div class="dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            Andhra Pradesh
        </button>
        <div class="container col1">
            <div class="row r1">
                <div class="offset-md-8 col-md-4 col1">
                    <h1 class="btn btn-success">About Andhra Pradesh</h1>
                    <p class="two">Andhra Pradesh is a state bordering India’s southeastern coast.
                        Major cultural landmarks include Tirumala Venkateswara Temple,
                        an ornate hilltop shrine to Hindu’s Vishnu, in the southern part of the state.
                        It’s visited by tens of millions of pilgrims annually.
                        The major northern port of Visakhapatnam has popular beaches like
                        Ramakrishna and Rishikonda lining the Bay of Bengal, offering spots for swimming and surfing.
                        Capitals: Hyderabad, Amaravati Trending<br>

                        Literacy rate: 67.41% (2011)<br>

                        Statehood: 1 November 1956<br>

                        Tree: Neem<br>

                        Chief minister: Y. S. Jaganmohan Reddy<br>

                        Governor: Biswabhusan Harichandan<br>
                    </p>
                </div>
            </div>
        </div>

        <div class="dropdown-menu">

            <a class="dropdown-item" href="Krishna">Krishna</a>

            <a class="dropdown-item" href="WestGodavari">WestGodavari</a>

            <a class="dropdown-item" href="EastGodavari">EastGodavari</a>

        </div>

    </div>


</div>
</body>
</html>