<html>
<head>
    <title>Disrict page</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<style>
a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 50px;


}
h1{
    padding: 20px;
    color: aqua;
}
body{
    background: coral;
}
p.two {
  border-style: solid;
  border-color: green;
}
a:hover, a:active {
  background-color: red;
}

</style>
<body>
<div class="container">
    <center><h1 class="bnt btn-primary">District wiseInformation</h1></center>
    <div class="dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            Krishna
        </button>
        <div>
        <a href="/Vijayawada/">Vijayawada</a>
        <a href="/#/">Back to Home</a>
        </div>
        <div class="container col1">
            <div class="row r1">
                <div class="offset-md-8 col-md-4 col1">
                    <h1 class="btn btn-success">About Krishna District</h1>
                    <p class="two">
                        Krishna district is an administrative district in the Coastal Andhra region of the Indian state of Andhra Pradesh.
                        Machilipatnam is the administrative headquarters and Vijayawada is the most populated city in the district.
                        It has an area of 8,727 km² and had a population of 45,29,009 as per 2011 census of India. Wikipedia

                        Area: 8,727 km²<br>

                        Population: 45.2 lakhs (2011)<br>

                        Headquarters: Machilipatnam<br>

                        Points of interest: Sri Durga Malleswara Swamy Varla Devasthanam, MORE<<br>

                        Colleges and Universities: Krishna University, MORE<br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>