<html>
<head>
    <title>Disrict page</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<style>
a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 50px;


}
h1{
    padding: 20px;
    color: aqua;

}
p.two {
  border-style: solid;
  border-color: green;
}
body{
    background: coral;
}

a:hover, a:active {
  background-color: red;
}


</style>
<body>
<div class="container">
    <center><h1 class="bnt btn-primary">District wise Information</h1></center>
    <div class="dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            WestGodavari
        </button>

        <div>
        <a href="/Bhimavaram/">Bhimavaram</a>
        <a href="/#/">Back to Home</a>
        </div>
        <div class="container col1">
            <div class="row r1">
                <div class="offset-md-8 col-md-4 col1">
                    <h1 class="btn btn-success">About WestGodavari District</h1>
                    <p class="two">
                        West Godavari district or Paschima Godavari Jilla is one of the 13 districts in the Indian state of Andhra Pradesh.
                        The district is situated in Coastal Andhra region of the state.
                        The administrative headquarters of the district is situated at Eluru. Wikipedia

                        Area: 7,742 km²

                        Literacy: 74.6%

                        Headquarters: Eluru

                        Points of interest: Kolleru Lake, Kolleru Bird Sanctuary, MORE

                        Colleges and Universities: Sri Vasavi Engineering College, MORE

                    </p>
                </div>
            </div>
        </div>



    </div>
</div>
</body>
</html>